body {
    background-color: rgb(45, 45, 134);
}

.container {
    width: 70%;
    margin: 50px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.square {
    margin: 5px;
    width:calc((100% / 10 ) - 10px );
    height: 70px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container2 {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.square2 {
    margin: 5px;
    width:calc((100% / 9 ) - 10px );
    height: 70px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container3 {
    width: 50%;
    margin: 50px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}


.square3 {
    margin: 5px;
    width:calc((100% / 7 ) - 10px );
    height: 70px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.colore {
    background-color: darkcyan;
} 

